{
  "app": {
    "guid": "3261b59d-ec17-4b86-9376-0682ea76c3e2"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null
  },
  "security": {
    "token": "MzI2MWI1OWQtZWMxNy00Yjg2LTkzNzYtMDY4MmVhNzZjM2Uy",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}